.layout{
    display: flex;
    width: 60%;
    height: 80vh;
    background-color: white;
    margin:0 auto;
  border-radius: 15px;
  box-shadow:  3px 3px 60px grey;
    
}
.Form{  
    display: grid;
    padding:60px 0;
   height:60vh;
   width:40%;
   text-align: center;
   
}
.Avtar{
    text-align: left;
    width:80%;
    margin:0 auto -25px;
    box-sizing: border-box;
    padding:0 8px;
}
.Avtar h1{
    color:rgb(245,0,87);
}
.main div{
    height: 70px;
    width:80%;
    margin:auto;
    box-sizing: border-box;
}

.main div input{
    width: 80%;
    height:35px;
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid grey;
    transition: all 0.3s ease-in;
}
.main div input:focus{
    outline: none;
   border : 2px solid rgb(63,81,181);
}
.main div p {
    text-align: left;
    padding:0 20px;
}
.main label{
    display: block;
    text-align: left;
    padding: 4px 8px;

}
.Submit{
    margin:20px 0;
    display: inline-Block;
    font-size:18px;
    border: none;
    width: 90%;
    height: 35px;
    border-radius: 5px;
    background-color: rgb(63,81,181);
    color: white;
}
.Submit:hover{
    background-color: #303f9f;
}
.Submit:focus{
    outline: none;
}
.illustration{
    width: 60%;
    display: grid;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}
.nameinput{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.nameinput input{
    width: 100%;
}
@media only screen and (max-width:970px)
{
    .layout{
        width:80%;
    }
}
@media only screen and (max-width:730px)
{
    .Form{
        width:50%;
    }
    .layout{
        width: 90%;
    }
    .illustration{
        width: 50%;
        
    }
   
}
@media only screen and (max-width:550px)
{
    .layout{
        display: block;
        width:70%;
    }
    .Form{
        width:100%;
    }
    .illustration{
        width: 0%;
        display: none;
    }

}
@media only screen and (max-width:450px)
{
    .layout{
        display: block;
        width:90%;
    }

}