.Main{
    padding:10px 8px;
    height:120px;
    background-color: white;
    width: 552px;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 10px;
    /* border:2px solid rgb(228,227,224); */
    box-shadow: 0 0 0 1px rgba(0,0,0,.15);
}
.startpost{
    display: flex;
    align-items: center;
   border-radius: 25px;
   width: 100%;
   border:2px solid rgb(228,227,224);
   height: 45px;
   padding: 0px 16px 0px 16px;
   background-color: white;
   text-align: left;
   cursor: pointer;

}
.startpost:focus , .startpost:hover{
    outline: none;
    background-color: #F3F2EF;
}
.startpost p {
    font-size: 16px;
    font-weight: 500;
    color: #666666;
}
.startpost img{
    padding: 0 10px;

}
.addcontent{
    height: 58px;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-around;
}
.addcontent div{
    width: 110px;
    font-size: 12px;
    margin-top:10px ;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    cursor: pointer;
}

.addcontent :hover{
    background-color: #F3F2EF;
}
.addcontent div img{

   padding:2px 6px 0 6px;
   
}

.addcontent div h4{
    color: #666666;
    padding: 4px 0px;
    border-radius: 25px;
}



@media only screen and (max-width: 350px)
{
  .Main{
    width:100%;
  }
}
