.main{
    height:80vh;
    width: 100vw;
    display: flex;
  justify-content: center;
  align-items: center;
}

.form{
    background-color: white;
    width: 400px;
    padding: 24px 32px 32px;
    margin:0 auto;
  border-radius: 15px;
  box-shadow:  3px 3px 60px grey;
}

.form h1{
    color:rgb(245,0,87);
}
.getemail
{
    margin:40px 0 ;
    text-align: center;
}
.input{
    width: 100%;
    height:50px;
    padding: 0 15px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid grey;
    transition: all 0.3s ease-in; 
}
.input::placeholder{
    font-size: 18px;
}
.input:focus{
    outline: none;
   border : 2px solid rgb(63,81,181);
}
.button{
    margin:20px 0;
    display: inline-Block;
    font-size:18px;
    border: none;
    width: 90%;
    height: 45px;
    border-radius: 5px;
    background-color: rgb(63,81,181);
    color: white;
    cursor: pointer;
}
.button:hover{
    background-color: #303f9f;
}
.button:focus{
    outline: none;
}
.otp
{
    width: 15%;
    height:50px;
    margin: 0 15px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid grey;
    text-align: center;
    font-size: larger;
    transition: all 0.3s ease-in; 
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.otp:focus{
   outline: none;
   border : 2px solid rgb(63,81,181);
}
.getotp{
    margin:40px 0 ;
    text-align: center;
}